@model SocialNetworkClient.Models.MainModel
@if(Session[SocialNetworkClient.Configs.MainConfigs.SessionFirstnameToken]==null)
{
    using (Html.BeginForm("ClientLogin", "Home", FormMethod.Post))
    {
        @Html.TextBoxFor(m => m.UserLogin.Username, new { placeholder = "Username", @class = "form-input" })
        @Html.TextBoxFor(model => model.UserLogin.Password, new { placeholder = "Password", @class = "form-input" })
        <input type="submit" value="Log In" />
    }

    <div class="fb-login-button" data-max-rows="1" data-size="small" data-button-type="continue_with"
         data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div>
}
else
{
    <a @Html.ActionLink($"Hello, {Session[SocialNetworkClient.Configs.MainConfigs.SessionFirstnameToken]} {Session[SocialNetworkClient.Configs.MainConfigs.SessionLastnameToken]}", actionName: "UserProfile")> </a>
}
