@model SocialNetworkClient.Models.MainModel

@{
    ViewBag.Title = "BlockedView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blocked</h2>
<h4>Sorry, It seems that this user blocked you or you blocked him</h4>
