@model SocialNetworkClient.Models.MainModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blocked Users</h2>
@if (Model.UsersRep.Count > 0)
{
    foreach (var item in Model.UsersRep)
    {
        @Html.ActionLink(linkText: $"{item.FullName}", actionName: "ViewUser", routeValues: new { username = item.Id })
        @Html.ActionLink("UnBlock", "UnblockUser", new { item.Id }) <br /><br />
    }
}
else
{
    <h3>You dont have any blocked users in your profile</h3>
}

@if (ViewBag.PageMessage != null)
{
    <script type="text/javascript">
                alert("@ViewBag.PageMessage");
    </script>
}