@model SocialNetworkClient.Models.MainModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @if (Model.LoggedInUser != null)
    {
        @Html.Partial("AddPost", new ViewDataDictionary(Model))
    }
</div>
@if (ViewBag.ErrorMessage != null)
{
    <script type="text/javascript">
                alert("@ViewBag.ErrorMessage");
    </script>
}
@if (ViewBag.SuccessMessage != null)
{
    <script type="text/javascript">
                alert("@ViewBag.SuccessMessage");
    </script>
}

