@model SocialNetworkClient.Models.MainModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @if (Session[SocialNetworkClient.Configs.MainConfigs.SessionUsernameKey] != null)
    {
        using (Html.BeginForm("SearchUsers", "Home", FormMethod.Post))
        {
            @Html.EditorFor(m => m.SearchInput)
            <input type="submit" value="Search For Users" />
        }
    }

</div>




@if (Session[SocialNetworkClient.Configs.MainConfigs.SessionUsernameKey] != null)
{


    @Html.Partial("AddPost",Model)

    <br />

    if (Model.PostList != null)
    {
        @Html.Partial("Posts", Model)
    }

    <br />
}

















