
@{
    ViewBag.Title = "UsersThatFollowMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users That Are Following me</h2>
@if (Model.UsersRep.Count > 0)
{
    foreach (var item in Model.UsersRep)
    {
        @Html.ActionLink(linkText: $"{item.FullName}", actionName: "ViewUser", routeValues: new { username= item.Id })
    }
}
else
{
    <h3>You are not followed by any users at the moment</h3>
}

@if (ViewBag.PageMessage != null)
{
    <script type="text/javascript">
                alert("@ViewBag.PageMessage");
    </script>
}
